<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <!-- cache is disabled to prevent problems with wtf-forms -->
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="0"> 

        <!-- Link styles -->
        <link rel="stylesheet" href="..\static\style.css">

        <!-- Link app-icon -->
        <link rel="icon" type="image/x-icon" href="..\static\wennwo-icon.png">

        <title>{% block title %}Wennwo{% endblock %}</title>
    </head>
    <body>
        <div class="container">
            <!-- Possibility to show a banner for exapmle on the index page -->
            {% block banner %}
            {% endblock %}

            <!-- Navigation for all pages -->
            <nav class="navbar">
                <div class="navbar-section">
                    <!-- Possibility to add custom options to the navbar on a subpage -->
                    {% block navbar %}
                        
                    {% endblock %}
                    <a class="navbar-item" href="/newsurvey">Neue Umfrage</a>
                    <a class="navbar-item" href="/" style="border: 1px solid #ffffff;">Startseite</a>
                </div>
                <div class="navbar-section">
                {% if current_user.is_authenticated %}
                    <a class="navbar-item" href="/logout">Abmelden</a>
                {% else %}
                    <a class="navbar-item" href="/login">Login</a>
                    <a class="navbar-item" href="/signup">Registrieren</a>
                {% endif %}
                </div>
            </nav>

            <!-- Handle flask flash mesages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            {% if category == 'error' %}
            <div class="error" role="alert">
                {{ message }}
            </div>
            {% elif category == 'success' %}
            <div class="success" role="alert">
                {{ message }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endwith %}

            <!-- Area to show the content of the page -->
            <div class="content">
                {% block content %}
                content
                {% endblock %}
            </div>
        </div>
        <footer>
            <p class="metadata">&copy; 2024 Wennwo</p>
        </footer>        
    </body>
    <footer>
</html>