{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<form method="POST">
    <!-- Show the login form -->
    {{ form.hidden_tag() }}
    <h1>Willkommen zurück!</h1>
    <table>
        <tr>
            <td>
                {{ form.email.label }}
            </td>
            <td>
                {{ form.email(size=50) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.password.label }}
            </td>
            <td>
                {{ form.password(size=50) }}
            </td>
        </tr>
    </table>

    <p>{{ form.remember() }} {{ form.remember.label }}</p> 
    <p>{{ form.submit(class="submit-btn") }} </p>
         
</form>
{% endblock %}