{% extends "base.html" %}
{% block title %}Neue Zeit{% endblock %}

{% block navbar %}
    <a class="nav-item nav-link" href="/survey/{{ survey_id }}">Zur Umfrage</a>
{% endblock %}

{% block content %}
<form method="POST">
    {{ form.hidden_tag() }}

    <!-- Show the form for a new user -->
    <h1>Passe den Modus an</h1>

    <table>
        <tr>
            <td>
                {{ form.mode.label }}
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.mode(class="form-control form-control-dark bg-dark text-white") }}
            </td>
            <td>
                {{ form.modebtn(class="btn btn-primary") }}
            </td>
        </tr>
    </table>

    <h1>Füge einen weiteren Benutzer hinzu!</h1>

    <table>
        <tr>
            <td style="padding-right: 20px;">
                {{ form.newemail.label }}
            </td>
            <td>
                {{ form.newpermission.label }}
            </td>
        </tr>
        <tr>
            <td style="padding-right: 20px;">
                {{ form.newemail(class="form-control form-control-dark bg-dark text-white") }}
            </td>
            <td>
                {{ form.newpermission(class="form-control form-control-dark bg-dark text-white") }}
            </td>
        </tr>
    </table>
    <p>
        {{ form.submitbtn(class="btn btn-primary p-1 m-1") }} 
    </p>

    <!-- List existing permissions -->
    <h1>Bereits erfasste Benutzer:</h1>
    <table>
        <tr>
            <td>
                <h2>Email</h2>
            </td>
            <td>
                <h2>Berechtigung</h2>
            </td>
        </tr>
        {% for permission in form.permissions %}
        <tr>
            <td style="padding-right: 20px;">
                {{ permission.email(readonly=True,class="form-control form-control-dark bg-dark text-white", style="min-width: 300px;") }}
                {{ permission.user_id(type="hidden") }}
            </td>
            {% if permission.user_id.data != current_user.id %}
            <td style="padding-right: 20px;">
                {{ permission.permission(class="form-control form-control-dark bg-dark text-white") }}
            </td>
            <td style="padding-right: 20px;">
                {{ permission.updatebtn(class="btn btn-secondary") }}
            </td>
            <td style="padding-right: 20px;">
                {{ permission.deletebtn(class="btn btn-danger") }}
            </td>
            {% else %}
            <td style="padding-right: 20px;">
                <div class="disabled">{{ permission.permission(class="form-control form-control-dark bg-dark text-white") }}</div>
            </td>
            <td style="padding-right: 20px;"></td>
            <td style="padding-right: 20px;"></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</form>
{% endblock %}