{% extends "base.html" %}
{% block title %}Neue Umfrage{% endblock %}

{% block content %}
<form method="POST">
    <!-- Show the form for a new survey -->
    {{ form.hidden_tag() }}
    <h1>Finde ein passendes Datum!</h1>
    <table>
        <tr>
            <td>
                {{ form.title.label }}
            </td>
            <td>
                {{ form.title(size=50) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.description.label }}
            </td>
            <td>
                {{ form.description(size=50) }}
            </td>
        </tr>
    </table>
    <p>{{ form.submit(class="submit-btn") }} </p>
         
</form>
{% endblock %}