{% extends "base.html" %}
{% block title %}Registrieren{% endblock %}

{% block content %}
<form method="POST">
    <!-- Show the registration form -->
    {{ form.hidden_tag() }}
    <h1>Willkommen bei Wennwo!</h1>
    <table>
        <tr>
            <td>
                {{ form.email.label }}
            </td>
            <td>
                {{ form.email(size=50) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.firstname.label }}
            </td>
            <td>
                {{ form.firstname(size=50) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.lastname.label }}
            </td>
            <td>
                {{ form.lastname(size=50) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.password.label }}
            </td>
            <td>
                {{ form.password(size=50) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.passwordconfirm.label }}
            </td>
            <td>
                {{ form.passwordconfirm(size=50) }}
            </td>
        </tr>
    </table>
    <p>{{ form.submit(class="submit-btn") }} </p>
         
</form>
{% endblock %}