{% extends "base.html" %}
{% block title %}Registrieren{% endblock %}

{% block content %}
<form method="POST">
    {{ form.hidden_tag() }}
    <h1>Willkommen bei Wennwo!</h1>
    <p>
        {{ form.email.label }}
        {{ form.email(size=75) }}
    </p>
    <p>
        {{ form.firstname.label }}
        {{ form.firstname(size=75) }}
    </p>
    <p>
        {{ form.lastname.label }}
        {{ form.lastname(size=75) }}
    </p>
    <p>
        {{ form.password.label }}
        {{ form.password(size=75) }}
    </p>
    <p>
        {{ form.passwordconfirm.label }}
        {{ form.passwordconfirm(size=75) }}
    </p>
    <p>{{ form.submit() }} </p>
         
</form>
{% endblock %}