{% extends "base.html" %}
{% block title %}Umfrage{% endblock %}

<!-- Show the option in navigation to create a new option -->
{% block navbar %}
    {% if is_admin == True %}
    <a class="nav-item nav-link" href="/modifypermissions/{{ survey.id }}">Berechtigungen anpassen</a>  
    {% endif %}
    {% if is_contributor == True %}
    <a class="nav-item nav-link" href="/newoption/{{ survey.id }}">Zeiten anpassen</a> 
    {% endif %}                   
 {% endblock %}

{% block content %}
<!-- Show information about the survey -->
<h1>Umfrage {{ survey.title }}</h1>
<p>{{ survey.description }}</p>
<p></p>
<p class="small text-muted"> Zuletzt aktualisiert: {{ survey.updatedate }}</p>
<p class="small text-muted"> Erstellt am: {{ survey.creationdate }}</p>

<!-- Show the survey form -->
<form id="survey{{ survey.id }}" method="POST">
    <div class="table-responsive">
        <table class="custom-sticky">
            {{ form.hidden_tag() }}
            
            <tr>
                <th></th>  <!-- Empty cell for the row labels -->
                {% for option in existing_options %}
                <th class="bg-dark text-white""> 
                    {{ option.value.date() }}<br>
                    {{ option.value.time() }}<br>
                    {{ option.info }}
                </th>
                {% endfor %}
                <th></th> <!-- Empty cell for the delete -->
            </tr>
            <tbody>
                {% for answer in form.values %}
                <tr>
                    {% if answer.editable.data %}
                    <th> 
                        {{ answer.user_id(class="d-none") }}
                        {{ answer.editable(class="d-none") }}
                        {{ answer.displayname(class="form-control form-control-dark bg-dark text-white", style="min-width:200px;") }}
                    </th>
                    {% for option in answer.options %}
                    <td>
                        {{ option.option_id(class="d-none") }}
                        {{ option.value(class="form-control form-control-dark bg-dark text-white") }}
                    </td>
                    {% endfor %}
                    <td>
                        {% if answer.displayname.data and user_already_answered %}
                        {{ answer.deletebtn(class="btn btn-danger p-1 m-1") }}
                        {% endif %}
                    </td>
                    {% else %}
                    <th> 
                        {{ answer.user_id(class="d-none") }}
                        {{ answer.editable(class="d-none") }}
                        {{ answer.displayname(class="form-control form-control-dark bg-dark text-white", style="min-width:200px;" , readonly=True) }}
                    </th>
                    {% for option in answer.options %}
                    <td>
                        {{ option.option_id(class="d-none") }}
                        {{ option.value(class="form-control form-control-dark bg-dark text-white",disabled=True) }}
                    </td>
                    {% endfor %}
                    <td>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Show the update button if user has contributor permissions -->
    {% if not user_already_answered %}
        {{ form.submitbtn(class="btn btn-primary p-1 m-1") }}
    {% endif %}

    {% if is_contributor == True or user_already_answered %}
        {{ form.updatebtn(class="btn btn-secondary p-1 m-1") }}
    {% endif %}
</form>

<!-- Show the comment section -->
<form id="comments{{ survey.id }}" method="POST">
    <p></p>
    <h1>Kommentare</h1>
    <table>
        {% for comment, user in survey_comments %}
        {% if comment.edited %}
        <tr>
            <td>
                Bearbeitet am {{ comment.updatedate }}
            </td>
        </tr>
        {% endif %}
        <tr>
            <td>
                <h4>{{ user.firstname }} {{ user.lastname }}</h4>
            </td>
            <td>
                <div class="small text-muted" >Stand: {{ comment.updatedate }}</div>
            </td>
            <td>
                {% if comment.edited %}
                    <div class="small text-muted" >Bearbeitet</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td style="padding-right: 20px;">
                {{ comment.comment }}
            </td>
            {% if current_user.id == comment.user_id or is_contributor == True %}
            <td>
                <a id="modify{{ comment.id }}" class="btn btn-secondary p-1 m-1" href="/modifycomment/{{ comment.id }}">Bearbeiten</a>
            </td>
            <td>
                <a id="delete{{ comment.id }}" class="btn btn-danger p-1 m-1" href="/deletecomment/{{ comment.id }}">Löschen</a>
            </td>
            {% else %}
            <!-- Empty cells if user is not allowed to modify -->
            <td>
            </td>
            <td>
            </td>
            {% endif %}
        </tr>
        <tr>
            
        <!-- Show the new comment form if user is authenticated -->
        </tr>
        {% endfor %}
        {{ commentform.hidden_tag() }}
        {{ commentform.csrf_token }}
        {% if current_user.is_authenticated %}
        <tr>
            <td style="padding-right: 20px;">
                {{ commentform.Comment(class="form-control form-control-dark bg-dark text-white") }}
            </td>
            <td>
                {{ commentform.submitComment(class="btn btn-primary p-1 m-1") }}
            </td>
        </tr>
        {% else %}
        <tr>
            <td style="padding-right: 20px;">
                <p class="text-muted" >Melde dich an, um Kommentare zu verfassen.</p>
            </td>
            <td>
            </td>
        </tr>
        {% endif %}
    </table>
</form>

{% endblock %}