{% extends "base.html" %}
{% block title %}Registrieren{% endblock %}

{% block content %}

<p>Survey {{ survey.title }}</p>
<p>{{ survey.description }}</p>
<p>{{ survey.updatedate }}</p>
<form method="POST">
    <table>
        <tr>
            <td></td>  <!-- Empty cell for the row labels -->
            {% for option in existing_options %}
            <td>{{ option.value }}</td>
            {% endfor %}
        </tr>
        {{ form.hidden_tag() }}
        {% for row in range(row_count) %}
        <tr>
        {% for index in range(value_entries) %}
            <td>
                {{ form[row*value_entries+index+1]() }}
            </td>
        {% endfor %}
        </tr>
        {% endfor %}
    </table>

    {{ form.submit }}
</form>

{% endblock %}