/* flash message design */
.error {
    background-color: #e67d7d;
    overflow: hidden;
    padding: 5px;
    text-align: center;
}

/* flash message design */
.success {
    background-color: #92dd97;
    color: #333;
    overflow: hidden;
    padding: 5px;
    text-align: center;
}
/* sticky first column and row */
.custom-sticky th, .table.custom-sticky td:first-child
{
  position:sticky;
  left:0px;
  top:0px;
}

/* scrollbar on small screens */
.table-responsive {
    max-height: 80vh; /* 80% of the viewport height */
    overflow-y: auto;
}

/* hide scrollbar */
.table-responsive::-webkit-scrollbar {
    display: none;
}

.table-responsive {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}